{% extends 'base.html' %}
{% load colaborador_tags %}

{% block contenido %}
<center>
    {% if user.is_superuser or request.user|has_group:"Colaborador" %}
        <div class="container-fluid"">
            <div class="container-fluid" style="margin-top: 300px;">
                <a id="boton_post" href="{% url 'apps.posts:crear_categoria' %}">Crear nueva categoría</a>
            </div>

            <h1>Crear Post</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Guardar">
            </form>
        </div>
    {% else %}
        <div class="container-fluid" style="margin: 100px;">
            <h1>¡No tienes permiso para acceder a esta página!</h1>
        </div>
    {% endif %}
</center>
{% endblock %}