{% extends 'base.html' %}
{% load colaborador_tags %}

{% block contenido %}
<center>
    {% if user.is_superuser or request.user|has_group:"Colaborador" %}
        <div class="container-fluid">
            <h1>Eliminar usuario</h1>
            <p>¿Estás seguro que quieres eliminar el usuario "{{ object.username }}"?</p>
            <form method="post">
                {% csrf_token %}
                <label for="eliminar_comentarios">¿Desea eliminar también los comentarios del usuario?</label>
                <input type="checkbox" name="eliminar_comentarios" id="eliminar_comentarios">
                <br>
                {% if es_colaborador %}
                    <label for="eliminar_posts">¿Desea eliminar también los posts del usuario?</label>
                    <input type="checkbox" name="eliminar_posts" id="eliminar_posts">
                    <br>
                {% endif %}
                <input type="submit" value="Sí, eliminar">
                <a style="color: black;" href="{% url 'apps.usuario:usuario_list' %}">No, cancelar</a>
            </form>
        </div>
    {% else %}
        <div class="container-fluid" style="margin: 300px;">
            <h1>¡No tienes permiso para entrar a esta página!</h1>
        </div>
    {% endif %}
</center>
{% endblock %}